{% extends 'main/base.html' %}
{% load static %}
{% block main %}
    <div class="main_split">
        <div class="main_left">
            <div class="container">
                <div class="label">Баланс</div>
                <h1 class="balance">720.000Р</h1>
                <div class="main_block">
                    <h3>Расходы по категориям за месяц</h3>
                    <canvas class="transactions_canvas"></canvas>
                </div>
                <div class="main_block">
                    <h3>Расходы по месяцам</h3>
                    <canvas class="month_transactions_canvas"></canvas>
                </div>
            </div>
        </div>
        <div class="main_right">
            <div class="container">
                <span class="label">Моя карта</span>
                <div class="bank_card">
                    <img src="{% static 'img/sberbank.svg' %}" alt="">
                    <div class="card_number">4718 4235 2984 5921</div>
                    <div class="cardholder">Mr. Cardholder</div>
                </div>
                <div class="main_block transactions">
                    <h3>Траты</h3>
                    <div class="transaction">
                            <span class="icon">
                                <span class="material-icons-round">shopping_cart</span>
                            </span>
                        <div class="name"><span>Магнит</span><span
                                class="transaction-date">15 сентября 2022 15:02</span></div>
                        <div class="sum">-283Р</div>
                    </div>
                    <div class="transaction">
                            <span class="icon">
                                <span class="material-icons-round">local_bar</span>
                            </span>
                        <div class="name"><span>Клуб "Черника"</span><span class="transaction-date">15 сентября 2022 15:02</span>
                        </div>
                        <div class="sum">-1500Р</div>
                    </div>
                    <div class="transaction">
                            <span class="icon">
                                <span class="material-icons-round">devices</span>
                            </span>
                        <div class="name"><span>Эльдорадо</span><span
                                class="transaction-date">15 сентября 2022 15:02</span></div>
                        <div class="sum">-79.999Р</div>
                    </div>
                    <div class="transaction">
                            <span class="icon">
                                <span class="material-icons-round">shopping_cart</span>
                            </span>
                        <div class="name"><span>Магазин "Андрей"</span><span class="transaction-date">15 сентября 2022 15:02</span>
                        </div>
                        <div class="sum">-15000Р</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    var CircleLabels = {{ chartCircle.labels }}
    var CircleData = {{ chartCircle.data }}
</script>
<script src="{% static 'script/script.js' %}"></script>
    <script>
        currentPage('#main_page')
    </script>
{% endblock %}