{% extends 'main/base.html' %}
{% load static %}
{% block main %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="custom_select" data-placeholder="Поиск по предметам">
                <select name="type" id="subjects_dropdown">
                    <option value="all" selected>Все предметы</option>
                    {% for i in transaction_types %}
                        <option value="{{ i.id }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="name">Название</label>
            {{ form.name }}
            <label for="amount">Сумма</label>
            {{ form.amount }}
            <button>Добавить</button>
        </form>
        <div class="transactions">
            <h3>Траты</h3>
            {% for i in transactions %}
            <div class="transaction">
                <span class="icon">
                    <span class="material-icons-round">shopping_cart</span>
                </span>
                <div class="name"><span>{{ i.name }}</span><span
                        class="transaction-date">{{ i.datetime }}</span></div>
                <div class="sum">{{ i.amount }}Р</div>
            </div>
            {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        currentPage('#add_transaction_page')
    </script>
{% endblock %}